<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.skydiver.alfred.mounts</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1B0F92E1-491F-4E4E-ABBB-B23C3DF163A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>896A039C-303C-4DAD-AE6E-5522A9B3AB97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>849CB80C-1F99-421C-BC74-29050BD5D850</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE8E7FDC-CB97-48AF-917E-E52076996696</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6035BA3-453F-44B2-A720-A46FCB9E885E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAD6C766-8D01-42B6-9E14-DBA79AC50A02</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy path to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B0F92E1-491F-4E4E-ABBB-B23C3DF163A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>849CB80C-1F99-421C-BC74-29050BD5D850</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Unmount network drive</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAD6C766-8D01-42B6-9E14-DBA79AC50A02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>881996D6-5889-4155-913B-4E76A7192AAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE8E7FDC-CB97-48AF-917E-E52076996696</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>213D0B2F-5050-46AD-A1AA-56D88FEF6A15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martín M.</string>
	<key>description</key>
	<string>List your mounted network drives</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Drives</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>881996D6-5889-4155-913B-4E76A7192AAF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EAD6C766-8D01-42B6-9E14-DBA79AC50A02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>896A039C-303C-4DAD-AE6E-5522A9B3AB97</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List your mounted network drives</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6035BA3-453F-44B2-A720-A46FCB9E885E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1B0F92E1-491F-4E4E-ABBB-B23C3DF163A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Unmounted drive at {query}</string>
				<key>title</key>
				<string>Alfred Network Drives</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>213D0B2F-5050-46AD-A1AA-56D88FEF6A15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

umount "$query"

echo $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE8E7FDC-CB97-48AF-917E-E52076996696</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>849CB80C-1F99-421C-BC74-29050BD5D850</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B0F92E1-491F-4E4E-ABBB-B23C3DF163A0</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>213D0B2F-5050-46AD-A1AA-56D88FEF6A15</key>
		<dict>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>849CB80C-1F99-421C-BC74-29050BD5D850</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>881996D6-5889-4155-913B-4E76A7192AAF</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>896A039C-303C-4DAD-AE6E-5522A9B3AB97</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>C6035BA3-453F-44B2-A720-A46FCB9E885E</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>EAD6C766-8D01-42B6-9E14-DBA79AC50A02</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>EE8E7FDC-CB97-48AF-917E-E52076996696</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/skydiver/</string>
</dict>
</plist>
